@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');
@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

* {
  --primary-font: 'Poppins', sans-serif;
  --secondary-font: 'Titillium Web', sans-serif;
  --lime-green: #99c110;
  --golden-yellow: #ffc600;
  --turquoise-blue: #10bbb5;
  --charcoal-gray: #252525;
  --platinum: #e4e5e9;
}

.primary-font {
  font-family: var(--primary-font);
}

.secondary-font {
  font-family: var(--secondary-font);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.bg-lime-green {
  background-color: var(--lime-green);
}

.bg-golden-yellow {
  background-color: var(--golden-yellow);
}

.bg-turquoise-blue {
  background-color: var(--turquoise-blue);
}

.bg-charcoal-gray {
  background-color: var(--charcoal-gray);
}

.bg-platinum {
  background-color: var(--platinum);
}

.forms-inputs {
  @apply bg-form-green border-2 border-form-border-white rounded-full text-form-border-white placeholder-form-border-white py-2 px-5 outline-0 w-11/12 max-w-screen-sm focus:border-orange-500;
}

.forms-submit {
  @apply border-2 bg-form-border-white text-form-green rounded-full py-2 px-5 font-bold w-6/12 max-w-[170px] cursor-pointer hover:animate-hover-button;
}

.forms-layout {
  @apply flex flex-col items-center justify-center gap-5 m-auto w-full primary-font;
}

.notice-alert {
  @apply primary-font text-white text-center fixed top-0 left-0 right-0 z-50 ml-auto mr-auto w-full max-w-[500px] rounded-lg py-2 shadow-md shadow-black;
}

.logo-image {
  @apply w-[150px] m-auto drop-shadow-logo;
}

.slick-prev::before,
.slick-next::before {
  color: #98bf11;
}

.dialog-triangle::after {
  content: '';
  border-left: 2rem solid transparent;
  border-right: 2rem solid transparent;
  border-bottom: 2rem solid transparent;
  border-top: 2rem solid transparent;
  position: absolute;
}

.dialog-triangle.bg-lime-green::after {
  border-left-color: var(--lime-green);
  left: 49%;
}

.dialog-triangle.bg-turquoise-blue::after {
  border-left-color: var(--turquoise-blue);
  left: 49%;
}

.dialog-triangle.bg-golden-yellow::after {
  border-right-color: var(--golden-yellow);
  right: 49%;
}

.dialog-triangle.bg-charcoal-gray::after {
  border-right-color: var(--charcoal-gray);
  right: 49%;
}

#my-reservations {
  background-image: url('./assets/images/background-my-reservations.jpeg');
  background-position: center;
  background-size: cover;
  min-height: 100lvh; /* stylelint-disable-line */
  height: 100%;
}

#citySelect,
#placeSelect,
#datePicker {
  appearance: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 1em;
}

#citySelect option,
#placeSelect option {
  @layer m-24; /* stylelint-disable-line */

  background-color: #fff;
  color: var(--charcoal-gray);
}

#citySelect:focus,
#placeSelect:focus,
#datePicker:focus {
  border-color: var(--platinum);
}

/* Date-Picker Styles */
.react-datepicker {
  border-radius: 24px;
  border: 2px solid #fff;
  font-family: var(--primary-font);
}

.react-datepicker__header {
  border-top-right-radius: 24px !important;
  border-top-left-radius: 24px;
  background-color: var(--lime-green);
}

.react-datepicker__current-month,
.react-datepicker__day-name {
  color: #fff;
  font-weight: normal;
}

.react-datepicker__navigation--next,
.react-datepicker__navigation--previous {
  margin-top: 7px;
}

.react-datepicker__navigation-icon::before,
.react-datepicker__navigation-icon::after {
  border-color: #fff !important;
}

.react-datepicker__day--selected {
  background-color: var(--lime-green);
}

@media only screen and (min-width: 1024px) {
  .dialog-triangle.bg-lime-green::after,
  .dialog-triangle.bg-turquoise-blue::after {
    left: calc(48.5% + 8.5vw);
  }

  .dialog-triangle.bg-golden-yellow::after,
  .dialog-triangle.bg-charcoal-gray::after {
    right: calc(50.5% - 8.5vw);
  }
}
